.button {
  background: $blue;
  padding: $s-size;
  font-weight: 300;
  font-size: $font-size-large;
  color: white;
  border: none;
  display: inline-block;
  text-decoration: none;
  line-height: 1;

  &--link {
    background: none;
  }

  &--secondary {
    background: #888;
  }
}
